.bg-image {
  background: url("/images/pattern-background-desktop.svg") center/cover no-repeat;
}

@media only screen and (max-width: 480px) {
  .bg-image {
    background: url("/images/pattern-background-mobile.svg") center/cover no-repeat;
  }
}

.change-color {
  color: #4518be;
}

.change-color:hover {
  text-decoration: none;
  color: grey;
}

.cancel-order {
  color: grey;
}

.cancel-order:hover {
  color: black;
  font-weight: bold;
}
