$media-mobile-sm: "only screen and (max-width : 480px)";

.bg-image {
  background: url("/images/pattern-background-desktop.svg") center/cover
    no-repeat;

  @media #{$media-mobile-sm} {
    background: url("/images/pattern-background-mobile.svg") center/cover
      no-repeat;
  }
}

.change-color {
  color: rgb(69, 24, 190);

  &:hover {
    text-decoration: none;
    color: grey;
  }
}

.cancel-order {
  color: grey;

  &:hover {
    color: black;
    font-weight: bold;
  }
}
